<!--
          - #ABOUT
        -->

<article class="about  active" data-page="about">

    <header>
        <h2 class="h2 article-title">About me</h2>
    </header>

    <section class="about-text fade-in-up">
        <p id="about-text"></p>
    </section>


    <!--
              - service
            -->

    <section class="service">

        <h3 class="h3 service-title">What i'm doing</h3>

        <ul class="service-list" id="about-services-list"></ul>

    </section>


    <!--
              - Main Skill
            -->

    <section class="main-skill">

        <h3 class="h3 main-skill-title">Main Skill</h3>

        <ul class="main-skill-list" id="about-skills-list"></ul>
    </section>

    <!--
              - Tools
            -->

    <section class="clients">

        <h3 class="h3 clients-title">Tools</h3>

        <ul class="clients-list" id="about-tools-list" style="flex-wrap: wrap;"></ul>
    </section>

</article>