<!--
          - #ABOUT
        -->

<article class="about  active" data-page="about">

    <header>
        <h2 class="h2 article-title">About me</h2>
    </header>

    <section class="about-text fade-in-up">
        <p>
            I am a Game Developer & Technical Artist with 4+ years building cross-platform games in Unity and Unreal
            Engine.
            Specialized in real-time shaders, VFX pipelines, and internal tooling that reduced production time by 80%
            and reduce risk . Passionate about pushing visual quality and pipeline efficiency
        </p>
    </section>


    <!--
              - service
            -->

    <section class="service">

        <h3 class="h3 service-title">What i'm doing</h3>

        <ul class="service-list">
            <li class="service-item zoom-in">
                <div class="service-icon-box">
                    <img class="unity-icon" src="./assets/images/ToolLogos/unity-logo.png" alt="Unity development icon"
                        width="40">
                </div>

                <div class="service-content-box">
                    <h4 class="h4 service-item-title">Unity Game Development</h4>
                    <p class="service-item-text">
                        2D, 3D, Mobile, WebGL
                    </p>
                </div>
            </li>
            <li class="service-item zoom-in">
                <div class="service-icon-box">
                    <img src="./assets/images/ToolLogos/unreal-engine-logo.png" alt="Unity development icon" width="40">
                </div>

                <div class="service-content-box">
                    <h4 class="h4 service-item-title">Unreal Engine Game Dev</h4>
                    <p class="service-item-text">
                        Window Platform
                    </p>
                </div>
            </li>
            <li class="service-item zoom-in">

                <div class="service-icon-box">
                    <img src="./assets/images/icon-design.svg" alt="Shader icon" width="40">
                </div>

                <div class="service-content-box">
                    <h4 class="h4 service-item-title">Shader Development</h4>

                    <p class="service-item-text">
                        Shader Graph, Custom Material, HLSL, GLSL
                    </p>
                </div>

            </li>
            <li class="service-item zoom-in">

                <div class="service-icon-box">
                    <img src="./assets/images/icon-dev.svg" alt="Tool development icon" width="40">
                </div>

                <div class="service-content-box">
                    <h4 class="h4 service-item-title">Tool development</h4>

                    <p class="service-item-text">
                        Level design, asset importing, and improves game develop efficiency.
                    </p>
                </div>

            </li>
        </ul>

    </section>


    <!--
              - Main Skill
            -->

    <section class="main-skill">

        <h3 class="h3 main-skill-title">Main Skill</h3>

        <ul class="main-skill-list has-scrollbar">

            <li class="main-skill-item fade-in-up">
                <div class="content-card" data-testimonials-item>
                    <figure class="main-skill-title-box">
                        <h4 class="h4 main-skill-item-title" data-testimonials-title>Programming Languages
                        </h4>
                    </figure>

                    <div class="main-skill-text" data-testimonials-text>
                        <ul>
                            <li>
                                <u>
                                    C#
                                </u>
                            </li>
                            <li>
                                <u>
                                    C/C++
                                </u>
                            </li>
                            <li>
                                <u>
                                    GLSL
                                </u>
                            </li>
                            <li>
                                <u>
                                    HLSL
                                </u>
                            </li>
                            <li>
                                <u>
                                    Assembly
                                </u>
                            </li>
                        </ul>

                    </div>
                </div>
            </li>

            <li class="main-skill-item fade-in-up">
                <div class="content-card" data-testimonials-item>
                    <figure class="main-skill-title-box">
                        <h4 class="h4 main-skill-item-title" data-testimonials-title>Principle</h4>
                    </figure>

                    <div class="main-skill-text" data-testimonials-text>
                        <ul>
                            <li>
                                <u>
                                    OOP
                                </u>
                            </li>
                            <li>
                                <u>
                                    SOLID
                                </u>
                            </li>
                            <li>
                                <u>
                                    KISS
                                </u>
                            </li>
                            <li>
                                <u>
                                    DRY
                                </u>
                            </li>
                            <li>
                                <u>
                                    YAGNI
                                </u>
                            </li>
                        </ul>

                    </div>
                </div>
            </li>

        </ul>
    </section>

    <!--
              - Tools
            -->

    <section class="clients">

        <h3 class="h3 clients-title">Tools</h3>

        <ul class="clients-list">

            <li class="clients-item zoom-in" data-delay="0">
                <a href="#">
                    <img src="./assets/images/ToolLogos/unity-logo.png" alt="unity logo">
                </a>
            </li>
            <li class="clients-item zoom-in" data-delay="100">
                <a href="#">
                    <img src="./assets/images/ToolLogos/unreal-engine-logo.png" alt="unreal engine logo">
                </a>
            </li>
            <li class="clients-item zoom-in" data-delay="200">
                <a href="#">
                    <img src="./assets/images/ToolLogos/blender-logo.png" alt="blender logo">
                </a>
            </li>
            <li class="clients-item zoom-in" data-delay="300">
                <a href="#">
                    <img src="./assets/images/ToolLogos/githud-logo.png" alt="github logo">
                </a>
            </li>
            <li class="clients-item zoom-in" data-delay="400">
                <a href="#">
                    <img src="./assets/images/ToolLogos/photoshop-logo.png" alt="photoshop-logo">
                </a>
            </li>
            <li class="clients-item zoom-in" data-delay="500">
                <a href="#">
                    <img src="./assets/images/ToolLogos/trello-logo.png" alt="trello-logo">
                </a>
            </li>
        </ul>

        <ul class="clients-list">
            <li class="clients-item zoom-in" data-delay="000">
                <a href="#">
                    <img src="./assets/images/ToolLogos/maya-logo.png" alt="trello-logo">
                </a>
            </li>
            <li class="clients-item zoom-in" data-delay="100">
                <a href="#">
                    <img src="./assets/images/ToolLogos/substance-designer-logo.png" alt="trello-logo">
                </a>
            </li>
            <li class="clients-item zoom-in" data-delay="200">
                <a href="#">
                    <img src="./assets/images/ToolLogos/substance-painter-logo.png" alt="trello-logo">
                </a>
            </li>
        </ul>
    </section>

</article>