<!--
          - #CONTACT
        -->

<article class="contact" data-page="contact">

    <header>
        <h2 class="h2 article-title">Contact</h2>
    </header>

    <section class="mapbox" data-mapbox>
        <figure>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d501726.5418937242!2d106.36490168394415!3d10.754617433196007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529292e8d3dd1%3A0xf15f5aad773c112b!2sHo%20Chi%20Minh%20City%2C%20Vietnam!5e0!3m2!1sen!2s!4v1713449756793!5m2!1sen!2s"
                width="400" height="300" loading="lazy"></iframe>
        </figure>
    </section>

    <ul class="service-list">
        <li class="service-item zoom-in">
            <div class="service-icon-box">
                <img class="unity-icon" src="./assets/images/ToolLogos/githud-logo.png" alt="Unity development icon"
                    width="40">
            </div>

            <div class="service-content-box">
                <h4 class="h4 service-item-title">GitHub</h4>
                <a href="https://github.com/BuCiuPi" class="service-item-text">
                    https://github.com/BuCiuPi
                </a>
            </div>
        </li>

        <li class="service-item zoom-in">
            <div class="service-icon-box">
                <img class="unity-icon" src="./assets/images/ToolLogos/linkedin-logo.png" alt="Unity development icon"
                    width="40">
            </div>

            <div class="service-content-box">
                <h4 class="h4 service-item-title">Linkedin</h4>
                <a href="https://www.linkedin.com/in/nguyenlong147/" class="service-item-text">
                    https://www.linkedin.com/in/nguyenlong147/
                </a>
            </div>
        </li>

        <li class="service-item zoom-in">
            <div class="service-icon-box">
                <img class="unity-icon" src="./assets/images/ToolLogos/gmail-logo.png" alt="Unity development icon"
                    width="40">
            </div>

            <div class="service-content-box">
                <h4 class="h4 service-item-title">Gmail</h4>
                <a href="mailto:nguyentienlong147@gmail.com" class="service-item-text">
                    nguyentienlong147@gmail.com
                </a>
            </div>
        </li>

        <li class="service-item zoom-in">
            <div class="service-icon-box">
                <img class="unity-icon" src="./assets/images/ToolLogos/behance-logo.png" alt="Unity development icon"
                    width="40">
            </div>

            <div class="service-content-box">
                <h4 class="h4 service-item-title">Behance</h4>
                <a href="https://www.behance.net/longnguyentien1" class="service-item-text">
                    https://www.behance.net/longnguyentien1
                </a>
            </div>
        </li>
    </ul>
</article>