<!--
          - #PORTFOLIO
        -->

<article class="portfolio" data-page="portfolio">

    <header>
        <h2 class="h2 article-title">Portfolio</h2>
    </header>

    <section class="projects">

        <ul class="filter-list">

            <li class="filter-item">
                <button class="active" data-filter-btn>All</button>
            </li>

            <li class="filter-item">
                <button data-filter-btn>Game</button>
            </li>

            <li class="filter-item">
                <button data-filter-btn>Shader</button>
            </li>

            <li class="filter-item">
                <button data-filter-btn>Tool</button>
            </li>

        </ul>

        <div class="filter-select-box">

            <button class="filter-select" data-select>

                <div class="select-value" data-selecct-value>Select category</div>

                <div class="select-icon">
                    <ion-icon name="chevron-down"></ion-icon>
                </div>

            </button>

            <ul class="select-list">

                <li class="select-item">
                    <button data-select-item>All</button>
                </li>

                <li class="select-item">
                    <button data-select-item>Game</button>
                </li>

                <li class="select-item">
                    <button data-select-item>Shader</button>
                </li>

                <li class="select-item">
                    <button data-select-item>Tool</button>
                </li>

            </ul>

        </div>

        <ul class="project-list">

            <li class="project-item blog-post-item fade-in-up active" data-filter-item data-category="game"
                data-modal-id="murgen-horror">
                <a href="./assets/projects/murgen-horror.html">

                    <figure class="blog-banner-box">
                        <img style="transform: scale(2, 2);"
                            src="./assets/images/GameImage/MurgenHorror/mugen-horroror.gif" alt="mugen-horror"
                            loading="lazy">
                    </figure>

                    <div class="blog-content">

                        <div class="blog-meta">
                            <p class="blog-category">Unity</p>

                            <span class="dot"></span>

                            <p>Action RPG, Horror</p>
                        </div>

                        <h3 class="h3 blog-item-title">Murgen Horror</h3>

                        <p class="blog-text">
                            An 3D top down action RPG game heavily inspired by Fatal Frame series.
                        </p>

                    </div>

                </a>
            </li>

            <li class="project-item blog-post-item fade-in-up active" data-filter-item data-category="game"
                data-modal-id="bread-town">
                <a href="./assets/projects/bread-town.html">

                    <figure class="blog-banner-box">
                        <img src="./assets/images/GameImage/SelfProject/bread-town.gif" alt="bread-town" loading="lazy">
                    </figure>

                    <div class="blog-content">

                        <div class="blog-meta">
                            <p class="blog-category">Unity</p>

                            <span class="dot"></span>

                            <p>Puzzle, Casual</p>
                        </div>

                        <h3 class="h3 blog-item-title">Bread Town</h3>

                        <p class="blog-text">
                            Match 3, grab veggies and bread, and whip up the tastiest puzzle combos! Food
                            fights
                            never tasted
                            this good!
                        </p>

                    </div>
                </a>
            </li>

            <li class="project-item blog-post-item fade-in-up active" data-filter-item data-category="game"
                data-modal-id="fire-fire-fire">
                <a href="./assets/projects/fire-fire-fire.html">

                    <figure class="blog-banner-box">
                        <img src="./assets/images/GameImage/HyperCasual/FireFireFire.gif" alt="fire-fire-fire"
                            loading="lazy">
                    </figure>

                    <div class="blog-content">

                        <div class="blog-meta">
                            <p class="blog-category">Unity</p>

                            <span class="dot"></span>

                            <p>H-casual, Puzzle</p>
                        </div>

                        <h3 class="h3 blog-item-title">Fire Fire Fire!</h3>

                        <p class="blog-text">
                            Stack objects, then use fire to burn the target. Precision and timing are key to
                            winning!
                        </p>

                    </div>
                </a>
            </li>

            <li class="project-item blog-post-item fade-in-up active" data-filter-item data-category="game"
                data-modal-id="betakkuma">
                <a href="./assets/projects/betakkuma.html">

                    <figure class="blog-banner-box">
                        <img src="./assets/images/GameImage/HyperCasual/betakkuma.gif" alt="betakkuma" loading="lazy">
                    </figure>

                    <div class="blog-content">

                        <div class="blog-meta">
                            <p class="blog-category">Unity</p>

                            <span class="dot"></span>

                            <p>H-Casual, Rhythm</p>
                        </div>

                        <h3 class="h3 blog-item-title">Betakkuma!</h3>

                        <p class="blog-text">
                            Dodge incoming bullets while dancing to the rhythm. The longer you groove, the
                            higher your score!
                        </p>

                    </div>
                </a>
            </li>

            <li class="project-item blog-post-item fade-in-up active" data-filter-item data-category="game"
                data-modal-id="fantasy-rpg">
                <a href="./assets/projects/fantasy-rpg.html">

                    <figure class="blog-banner-box">
                        <img src="./assets/images/GameImage/HyperCasual/fantasy-rpg-logo.png" alt="fantasy-rpg"
                            loading="lazy">
                    </figure>

                    <div class="blog-content">

                        <div class="blog-meta">
                            <p class="blog-category">Unity</p>

                            <span class="dot"></span>

                            <p>H-Casual, Action</p>
                        </div>

                        <h3 class="h3 blog-item-title">fantasyRPG Run</h3>

                        <p class="blog-text">
                            Run, collect weapons, level up your power, and defeat epic bosses in this
                            fast-paced
                            hyper-casual
                            action game!
                        </p>

                    </div>
                </a>
            </li>

            <li class="project-item blog-post-item fade-in-up active" data-filter-item data-category="shader"
                data-modal-id="unity-shader">
                <a href="./assets/projects/unity-shader.html">

                    <figure class="blog-banner-box">
                        <img src="./assets/images/GameImage/Shader/unity-shader-logo.gif" alt="unity-shader"
                            loading="lazy">
                    </figure>

                    <div class="blog-content">

                        <div class="blog-meta">
                            <p class="blog-category">Unity</p>

                            <span class="dot"></span>

                            <p>Shader</p>
                        </div>

                        <h3 class="h3 blog-item-title">Unity Shader</h3>

                        <p class="blog-text">
                            Rendering pipeline, shaders for
                            dynamic lighting, tessellation, and other effects.
                        </p>

                    </div>
                </a>
            </li>

            <li class="project-item blog-post-item fade-in-up active" data-filter-item data-category="game"
                data-modal-id="pino-rhythm">
                <a href="./assets/projects/pino-rhythm.html">

                    <figure class="blog-banner-box">
                        <img src="./assets/images/GameImage/HyperCasual/pino-rhythm.gif" alt="pino-rhythm"
                            loading="lazy">
                    </figure>

                    <div class="blog-content">

                        <div class="blog-meta">
                            <p class="blog-category">Unity</p>

                            <span class="dot"></span>

                            <p>Rhythm</p>
                        </div>

                        <h3 class="h3 blog-item-title">Pino Rhythm</h3>

                        <p class="blog-text">
                            Tap to the rhythm as ice cream cubes drop. Stay on beat to score big in this
                            sweet.
                        </p>

                    </div>
                </a>
            </li>

            <li class="project-item blog-post-item fade-in-up active" data-filter-item data-category="game"
                data-modal-id="pino-koi">
                <a href="./assets/projects/pino-koi.html">

                    <figure class="blog-banner-box">
                        <img src="./assets/images/GameImage/HyperCasual/pino-koi.gif" alt="pino-koi" loading="lazy">
                    </figure>

                    <div class="blog-content">

                        <div class="blog-meta">
                            <p class="blog-category">Unity</p>

                            <span class="dot"></span>

                            <p>Visual Novel</p>
                        </div>

                        <h3 class="h3 blog-item-title">Pino Koi</h3>

                        <p class="blog-text">
                            Fall in love with the charming ice cream guy in this visual novel! Make choices
                            and
                            enjoy a sweet,
                            romantic journey.
                        </p>

                    </div>
                </a>
            </li>

            <li class="project-item blog-post-item fade-in-up active" data-filter-item data-category="game"
                data-modal-id="hitofudegaki">
                <a href="./assets/projects/hitofudegaki.html">

                    <figure class="blog-banner-box">
                        <img src="./assets/images/GameImage/HyperCasual/hitofudegaki-logo.png" alt="hitofudegaki"
                            loading="lazy">
                    </figure>

                    <div class="blog-content">

                        <div class="blog-meta">
                            <p class="blog-category">Unity</p>

                            <span class="dot"></span>

                            <p>H-Casual, Puzzle</p>
                        </div>

                        <h3 class="h3 blog-item-title">Hitofudegaki</h3>

                        <p class="blog-text">
                            Connect the dots in one stroke to reveal hidden icons in this relaxing
                            hyper-casual
                            puzzle game!
                        </p>

                    </div>
                </a>
            </li>

            <li class="project-item blog-post-item fade-in-up active" data-filter-item data-category="shader"
                data-modal-id="directx11">
                <a href="./assets/projects/directx11.html">

                    <figure class="blog-banner-box">
                        <img src="./assets/images/ToolLogos/directx-logo.png" alt="directx11" loading="lazy">
                    </figure>

                    <div class="blog-content">

                        <div class="blog-meta">
                            <p class="blog-category">DirectX</p>

                            <span class="dot"></span>

                            <p>Shader, Render</p>
                        </div>

                        <h3 class="h3 blog-item-title">DirectX 11 & HLSL</h3>

                        <p class="blog-text">
                            Rendering pipeline, shaders for
                            dynamic lighting, tessellation, and other effects.
                        </p>

                    </div>
                </a>
            </li>

            <li class="project-item blog-post-item fade-in-up active" data-filter-item data-category="shader"
                data-modal-id="unreal-engine-shader">
                <a href="./assets/projects/unreal-engine-shader.html">

                    <figure class="blog-banner-box">
                        <img src="./assets/images/GameImage/Shader/unreal-engine-shader.gif" alt="Unreal-engine-shader"
                            loading="lazy">
                    </figure>

                    <div class="blog-content">

                        <div class="blog-meta">
                            <p class="blog-category">Unreal Engine</p>

                            <span class="dot"></span>

                            <p>Shader</p>
                        </div>

                        <h3 class="h3 blog-item-title">Unreal Engine Shader</h3>

                        <p class="blog-text">
                            Post Progressing, Mapping, Tessellation, and other effects.
                        </p>

                    </div>
                </a>
            </li>

            <li class="project-item blog-post-item fade-in-up active" data-filter-item data-category="tool"
                data-modal-id="tool-development">
                <a href="./assets/projects/tool-development.html">

                    <figure class="blog-banner-box">
                        <img src="./assets/images/ToolLogos/tool-development-logo.jpg" alt="Hyper-casual"
                            loading="lazy">
                    </figure>

                    <div class="blog-content">

                        <div class="blog-meta">
                            <p class="blog-category">Unity</p>

                            <span class="dot"></span>

                            <p>Tool, Plugins</p>
                        </div>

                        <h3 class="h3 blog-item-title">Tools Development and More...</h3>

                        <p class="blog-text">
                            Developed Unity tools to enhance collaboration between 2D artists, 3D modelers,
                            game
                            designers, and
                            programmers.
                        </p>

                    </div>
                </a>
            </li>

        </ul>

    </section>

</article>