<!--
          - #RESUME
        -->
            <article class="resume" data-page="resume">

                <header>
                    <h2 class="h2 article-title">Resume</h2>
                </header>

                <hr style="width: 50%; border-color: var(--onyx);">
                <a href="./assets/Resume/NGUYENTIENLONG-Resume.pdf" style="margin-top: 20px; margin-bottom: 20px;">
                    <button class="link-btn">
                        <img src="./assets/images/icon-design.svg" alt="">
                        <h3>Download My Resume!..</h3>
                    </button>
                </a>
                <hr style="width: 50%; border-color: var(--onyx);">
                <br>

                <section class="timeline fade-in-up">

                    <div class="title-wrapper">
                        <div class="icon-box">
                            <ion-icon name="book-outline"></ion-icon>
                        </div>

                        <h3 class="h3">Experience</h3>
                    </div>

                    <ol class="timeline-list">

                        <li class="timeline-item">

                            <h4 class="h3 timeline-item-title-h1">Indigames Inc.</h4>
                            <h4 class="h4 timeline-item-title">Junior Game Developer</h4>

                            <span>Jun 2022 — Arp 2024</span>

                            <ul class="timeline-text">
                                <li>
                                    Developed games using the Unity Engine.
                                </li>
                                <li>
                                    Designed game shaders, utilizing ShaderGraph, ShaderLab, HLSL, and GLSL.
                                </li>
                                <li>
                                    Wrote Unity Editor tools, including data import, level design, game data management,
                                    testing, and
                                    debugging.
                                </li>
                                <li>
                                    Expand gameplay and port existing projects from Mobile and PC to WebGL.
                                </li>
                                <li>
                                    Collaborated with a Game Designer to customize game levels and improve gameplay.
                                </li>
                                <li>
                                    Created games using both Unreal Engine 5 and Unreal Engine for Fortnite using Verse.
                                </li>
                            </ul>
                        </li>

                        <li class="timeline-item">

                            <h4 class="h3 timeline-item-title-h1">Indigames Inc.</h4>
                            <h4 class="h4 timeline-item-title">Trainee Game Developer</h4>

                            <span>Arp 2022 — Jul 2022</span>

                            <ul class="timeline-text">
                                <li>
                                    Gained expertise in the entire game development lifecycle, from pre-production to
                                    post-production.
                                </li>
                                <li>
                                    Utilized Git, GitHub, and GitLab for seamless team collaboration.
                                </li>
                                <li>
                                    Developed mini-games using Unity Learn to hone skills.
                                </li>
                                <li>
                                    Engaged in game development training courses.
                                </li>
                            </ul>
                        </li>
                    </ol>

                </section>

                <section class="timeline fade-in-up">

                    <div class="title-wrapper">
                        <div class="icon-box">
                            <ion-icon name="book-outline"></ion-icon>
                        </div>

                        <h3 class="h3">Education</h3>
                    </div>

                    <ol class="timeline-list">

                        <li class="timeline-item">

                            <h4 class="h4 timeline-item-title">Bachelor of Software Engineering - HUTECH</h4>

                            <span>2018 — 2023</span>

                            <p class="timeline-text">
                                <b>GPA:</b> 3.26/4
                            </p>

                        </li>
                    </ol>

                </section>

                <!--
  - Resume Skill
-->
                <section class="resume-skill">

                    <h3 class="h3 resume-skill-title">Skills</h3>

                    <ul class="resume-skill-list has-scrollbar">

                        <!--Programming Language-->
                        <li class="resume-skill-item fade-in-up">
                            <div class="content-card" data-testimonials-item>
                                <figure class="resume-skill-title-box">
                                    <h4 class="h4 resume-skill-item-title" data-testimonials-title>Programming
                                        Languages</h4>
                                </figure>

                                <div class="resume-skill-text" data-testimonials-text>
                                    <ul>
                                        <li>
                                            <u>
                                                C#
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                C/C++
                                            </u>
                                        </li>

                                        <li>
                                            <u>
                                                HTML
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                JavaScript
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                TypeScript
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                Assembly
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                Java
                                            </u>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>

                        <!--Shading Language-->
                        <li class="resume-skill-item fade-in-up">
                            <div class="content-card" data-testimonials-item>
                                <figure class="resume-skill-title-box">
                                    <h4 class="h4 resume-skill-item-title" data-testimonials-title>Shading
                                        Languages</h4>
                                </figure>

                                <div class="resume-skill-text" data-testimonials-text>
                                    <ul>
                                        <li>
                                            <u>
                                                ShaderLab
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                ShaderGraph
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                HLSL
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                GLSL
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                CSS
                                            </u>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>

                        <!--IDE & Engine-->
                        <li class="resume-skill-item fade-in-up">
                            <div class="content-card" data-testimonials-item>
                                <figure class="resume-skill-title-box">
                                    <h4 class="h4 resume-skill-item-title" data-testimonials-title>IDE & Game Engine
                                    </h4>
                                </figure>

                                <div class="resume-skill-text" data-testimonials-text>
                                    <ul>
                                        <li>
                                            <u>
                                                Unity
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                Unreal Engine
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                UEFN
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                DirectX 11
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                OpenGL
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                VS Code
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                Visual Studio
                                            </u>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <!--Tool-->
                        <li class="resume-skill-item fade-in-up">
                            <div class="content-card" data-testimonials-item>
                                <figure class="resume-skill-title-box">
                                    <h4 class="h4 resume-skill-item-title" data-testimonials-title>Tools
                                    </h4>
                                </figure>

                                <div class="resume-skill-text" data-testimonials-text>
                                    <ul>
                                        <li>
                                            <u>
                                                Git
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                Github Project
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                BitBucket
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                Gitlab
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                Trello
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                Notion
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                Blender
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                Photoshop
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                Offices
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                Davinci Resolve
                                            </u>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>

                        <!--Principle-->
                        <li class="resume-skill-item fade-in-up">
                            <div class="content-card" data-testimonials-item>
                                <figure class="resume-skill-title-box">
                                    <h4 class="h4 resume-skill-item-title" data-testimonials-title>Principle</h4>
                                </figure>

                                <div class="resume-skill-text" data-testimonials-text>
                                    <ul>
                                        <li>
                                            <u>
                                                OOP
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                SOLID
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                KISS
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                DRY
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                YAGNI
                                            </u>
                                        </li>
                                        <li>
                                            <u>
                                                Game DesignPatterns
                                            </u>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>

                    </ul>
                </section>

            </article>