<!--
      - #SIDEBAR
-->

        <aside class="sidebar sidebar-profile-info zoom-in" data-sidebar>

            <div class="sidebar-info">

                <figure class="avatar-box zoom-in">
                    <img src="./assets/images/profile-image.png" alt="NguyenTienLong">
                </figure>

                <div class="info-content">
                    <h1 class="name zoom-in" title="NguyenTienLong">Nguyen Tien Long</h1>

                    <p class="title zoom-in" data-delay="300">Game Developer</p>
                    <p class="title zoom-in" data-delay="600">Technical Artist</p>
                </div>

                <button class="info_more-btn" data-sidebar-btn>
                    <span>Show Contacts</span>

                    <ion-icon name="chevron-down"></ion-icon>
                </button>

            </div>

            <div class="sidebar-info_more">

                <div class="separator"></div>

                <ul class="contacts-list">

                    <li class="contact-item fade-in-up">

                        <div class="icon-box">
                            <ion-icon name="mail-outline"></ion-icon>
                        </div>

                        <div class="contact-info">
                            <p class="contact-title">Email</p>

                            <a href="mailto:nguyentienlong147@gmail.com"
                                class="contact-link">nguyentienlong147@gmail.com</a>
                        </div>

                    </li>

                    <li class="contact-item fade-in-up" data-delay="100">

                        <div class="icon-box">
                            <ion-icon name="phone-portrait-outline"></ion-icon>
                        </div>

                        <div class="contact-info">
                            <p class="contact-title">Phone</p>

                            <a href="tel:+84397475616" class="contact-link">+84 397-475-616</a>
                        </div>

                    </li>

                    <li class="contact-item fade-in-up" data-delay="200">

                        <div class="icon-box">
                            <ion-icon name="logo-github"></ion-icon>
                        </div>

                        <div class="contact-info">
                            <p class="contact-title">Github</p>

                            <a href="https://github.com/BuCiuPi" class="contact-link">github.com/BuCiuPi</a>
                        </div>

                    </li>

                    <li class="contact-item fade-in-up" data-delay="300">

                        <div class="icon-box">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </div>

                        <div class="contact-info">
                            <p class="contact-title">Linkedin</p>

                            <a href="https://www.linkedin.com/in/nguyenlong147/"
                                class="contact-link">linkedin.com/in/nguyenlong147/</a>
                        </div>

                    </li>

                    <li class="contact-item fade-in-up" data-delay="400">

                        <div class="icon-box">
                            <ion-icon name="logo-behance"></ion-icon>
                        </div>

                        <div class="contact-info">
                            <p class="contact-title">Behance</p>

                            <a href="https://www.behance.net/longnguyentien1"
                                class="contact-link">behance.net/longnguyentien1</a>
                        </div>

                    </li>

                    <li class="contact-item fade-in-up" data-delay="500">

                        <div class="icon-box">
                            <ion-icon name="location-outline"></ion-icon>
                        </div>

                        <div class="contact-info">
                            <p class="contact-title">Location</p>

                            <address>Ho Chi Minh, Viet Nam</address>
                        </div>

                    </li>

                </ul>

                <!-- <div class="separator"></div>
    
            <ul class="social-list">
    
              <li class="social-item">
                <a href="#" class="social-link">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>
    
              <li class="social-item">
                <a href="#" class="social-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>
    
              <li class="social-item">
                <a href="#" class="social-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>
    
            </ul> -->

            </div>

        </aside>