<li class="project-item blog-post-item fade-in-up active" data-filter-item data-category="{{category}}"
    data-modal-id="{{modalId}}">
    <a href="{{link}}">

        <figure class="blog-banner-box">
            <img {{imageStyle}} src="{{image}}" alt="{{imageAlt}}" loading="lazy">
        </figure>

        <div class="blog-content">

            <div class="blog-meta">
                <p class="blog-category">{{tech}}</p>

                <span class="dot"></span>

                <p>{{tags}}</p>
            </div>

            <h3 class="h3 blog-item-title">{{title}}</h3>

            <p class="blog-text">
                {{description}}
            </p>

        </div>

    </a>
</li>